<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Please Login</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <h1>Login</h1>
  <div class="row">
    <div class="col-md-6">
      <div th:if="${#strings.isEmpty(name)}">
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
        <a href="/oauth2/authorization/github" class="btn btn-success active" role="button">GiuHub Login(구현 안됨)</a>
      </div>
    </div>
  </div>
</body>
</html>