<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link th:href="@{/css/til/detail.css}" rel="stylesheet"/>
</head>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <div class="center-content">
            <div class="title-box">
                <span class="sub-title" th:if="${til.getSeries()}" th:text="${til.getSeries().getTitle()}"></span>
                <span class="title" th:text="${til.title}"></span>
            </div>
            <div class="post-detail-box">
                <span th:each="tag : ${til.tilTags}">
                    <span class="tag" th:text="${'#' + tag.getTag().getName()}"></span>
                </span>
                <!--                <span class="count" th:text="${'조회수 ' + til.viewCount}"></span>-->

            </div>
            <div class="edit-box">
                <button type="button" class="edit-box-btn">수정</button>
                <button type="button" class="edit-box-btn">삭제</button>
            </div>
            <div class="series-box">
                <div class="dropdown">
                    <div class="caption" th:text="${til.series.getTitle()}"><img src="/img/down-series.svg"></div>
                    <div class="list">
                        <span th:each="til, stat : ${til.series.getTils()}">
                             <a th:href="|/til/${til.id}|">
                                 <div class="item" th:text="${stat.count + '. ' + til.title}">
                                 </div>
                             </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="content-box">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolo
                r sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br>labore et dolore magna
                aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore <br>et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="button-box">
                <button type="button" class="like-btn"><img src="/img/like.svg"><span th:text="${til.likeCount}"></span>
                </button>
                <button type="button" class="share-btn"><img src="/img/share.svg">공유</button>
            </div>
            <div class="writer-box">
                <div class="profile">
                </div>
                <div class="writer-info">
                    <span class="name" th:text="${til.getUser().getNickname()}"></span>
                    <span class="description" th:text="${til.getUser().getProfileDescription()}"></span>
                </div>
                <div class="rival-box">
                    <button type="button" class="rival-btn">라이벌 등록</button>
                </div>
            </div>
            <!--            <div class="review-box">-->
            <!--                <span class="review-title">댓글 <strong>0</strong></span>-->
            <!--                <button type="button" class="riview-btn">등록</button>-->
            <!--                <ul class="review-list">-->
            <!--                    <li>-->
            <!--                        <div class="reviewer-profile"></div>-->
            <!--                        <div class="review-detail">-->
            <!--                            <span class="name">Hyun</span>-->
            <!--                            <span class="date">1 days ago</span>-->
            <!--                            <div class="content">-->
            <!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
            <!--                                incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur-->
            <!--                                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <div class="reviewer-profile"></div>-->
            <!--                        <div class="review-detail">-->
            <!--                            <span class="name">Hyun</span>-->
            <!--                            <span class="date">1 days ago</span>-->
            <!--                            <div class="content">-->
            <!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
            <!--                                incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur-->
            <!--                                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </li>-->
            <!--                    <li>-->
            <!--                        <div class="reviewer-profile"></div>-->
            <!--                        <div class="review-detail">-->
            <!--                            <span class="name">Hyun</span>-->
            <!--                            <span class="date">1 days ago</span>-->
            <!--                            <div class="content">-->
            <!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
            <!--                                incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur-->
            <!--                                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </div>-->
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/til/detail.js}"></script>
</th:block>
</html>
