<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/til/write.css}" rel="stylesheet" />
</head>
<th:block layout:fragment="content" >
    <div class="content-wrapper">
        <!-- modal -->
        <section class="modal--show" id="modal" tabindex="-1"
                 role="dialog" aria-labelledby="modal-label" aria-hidden="true">

            <div class="modal-inner">
                <header id="modal-label">Header</header>
                <div class="modal-content">The modals content</div>
                <footer>Footer</footer>
            </div>

            <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
               data-dismiss="modal">?</a>
        </section>

        <div class="block input-series">
            <a href="#modal">modal</a>
        </div>
        <div class="block input-title">
            <input type="text"/>
        </div>
        <div class="editor" id="editor">

        </div>
        <div class="block input-tags">
            <div id="tag_input"/>
        </div>
        <div class="buttons">
            <button class="cancel" type="button">
                취소
            </button>
            <button class="submit" type="submit">
                등록
            </button>
        </div>
    </div>

    <script src="https://uicdn.toast.com/editor/3.1.0/toastui-editor-all.min.js"></script>
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <script type="text/javascript" th:src="@{/js/til/write.js}"></script>
</th:block>
</html>
