<th:block th:fragment="headerFragment">
    <header>
        <h1>IMGO</h1>
    </header>
    <!--로그인 버튼-->
    <div class="row">
        <div class="col-md-6">
            <div th:if="${#strings.isEmpty(name)}">
                <a href="/oauth_login" class="btn btn-success active" role="button">Sign-In</a>
            </div>
            <div th:if="${not #strings.isEmpty(name)}">
                <a href="/logout" class="btn btn-success active" role="button">로그아웃</a>
            </div>
        </div>
    </div>

</th:block>