<th:block th:fragment="headerFragment">
    <div id="popup-login" class="overlay">
        <div class="popup">
            <div class="popup-header">
                <img src="/img/top-bi.svg" alt="IMGO" class="popup-bi">
                <a class="close" href="#" onclick="closeLoginPopup()"><img src="img/close-popup.svg" alt="close"></a>
            </div>
            <div class="popup-content">
                <button class="login-google" onclick="location.href='/oauth2/authorization/google'"><img src="/img/icon-google.svg"><span>구글 로그인</span></button>
                <button class="login-facebook"><img src="/img/icon-facebook.svg"><span>페이스북 로그인</span></button>
                <button class="login-github"><img src="/img/icon-github.svg"><span>깃허브 로그인</span></button>
                <button class="login-kakao"><img src="/img/icon-kakao.svg"><span>카카오 로그인</span></button>
            </div>
        </div>
    </div>

    <header id="header" class="header">
        <section class="header-main">
            <div class="logo">
                <a href="/"><img src="/img/top-bi.svg" alt="IMGO"></a>
            </div>
            <form class="search-field">
                <input placeholder="search.."></input>
                <span class="search-btn"><img src="/img/search-icon.svg" alt="search"></span>
            </form>
            <ul class="menu">
                <div th:if="${#strings.isEmpty(userId)}">
                    <li class="signup"on onclick="openLoginPopup()"><a href="#">Login</a></li>
                </div>
                <div th:if="${not #strings.isEmpty(userId)}">
                    <li class="feed selected"><a class="" href="#"><img src="/img/feed.svg"></a></li>
                    <li class="mypage" onclick="clickMypage()"><a class="" href="#"><img src="/img/mypage.svg"></a></li>
                    <li class="notification"><a class="" href="#"><img src="/img/notification.svg"></a></li>
                </div>
            </ul>
            <div class="arrow-box">
                <ul class="mypage-list">
                    <li>작성 목록</li>
                    <li>읽기 목록</li>
                    <li class="logout"><a href="/auth/logout">로그아웃</a></li>
                </ul>
            </div>
        </section>
    </header>
</th:block>