.series-list {
    display: flex;
}

.series-list .form-select{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;

}

.select-list .form-select option {
    padding: 8px 15px;
}

.block {
    width: 100%;
    height: 80px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
}

.editor {
    background-color: white;
}

.input-tags {
    padding-left: 15px;
    padding-top: 20px;
}

.card-input {
    --tags-border-color: transparent;
    --tags-hover-border-color: transparent;
    --tags-focus-border-color: transparent;
}

.buttons {
    display: flex;
    margin-top: 30px;
}

.button-cancel {
    margin-left: auto;
    margin-right: 10px;
    background-color: #bbb;
}

.button-primary {
    background-color: #156a2b;
}