<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div class="myinfo-box">
  <div th:text="${analysisData.user.nickname}"></div>
  <div th:text="${analysisData.numTilPast30Days}"></div>
  <div th:text="${analysisData.numSeriesPast30Days}"></div>

</div>

<!--User user;-->
<!--// intro-->
<!--private Long numTilPast30Days;-->
<!--private Long numSeriesPast30Days;-->
<!--//캘린더-->
<!--// ...-->
<!--// Top5 Tag 별, 전체에 대한 나의 사용 비율-->
<!--private List<Pair<Tag,Integer>> tagToRateTilSortedList;-->
<!--// Til 작성 지속 기간-->
<!--private int nowContinuousDays;-->
<!--private int maxContinuousDays;-->
<!--// Tag 사용빈도-->
<!--private List<Pair<Tag,Integer>> tagToRateSortedList;-->
<!--private List<Tag> tagTop3ByRate;-->
<!--  // 얻은 뱃지-->
<!--  private EnumMap<BadgeType, EnumMap<BadgeLevel, Badge>> ownedBadgeMap;-->

</body>
</html>