<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <div th:object="${userProfile}">
        <p th:text="*{nickname}"></p>
        <p th:text="*{profileImg}"></p>
        <p th:text="*{profileDescription}"></p>
    </div>

    <div th:object="${userProfileDetail}">
        <div th:each="userBadge : *{userBadges}">
            <p th:text="${userBadge.badge.logo}"></p>
            <p th:text="${userBadge.badge.name}"></p>
        </div>
        <div th:each="rival : *{rivals}">
            <p th:text="${rival.target.nickname}"></p>
            <p th:text="${rival.target.profileImg}"
               th:classappend="${userProfileDetail.isRivalActive(rival)} ? 'active'">
        </div>
        <div th:each="day : ${#numbers.sequence(firstDayOfWeek, firstDayOfWeek+6)}">
            <p th:text="${day}"
               th:classappend="${userProfileDetail.isRecorded(day)} ? 'active'"></p>
        </div>
    </div>


    <h1>TIL 카드 입니다아</h1>

    <p>Loading photos from the <a href="https://unsplash.com/developers?utm_source=infinite-scroll-demos&utm_medium=referral&utm_campaign=api-credit">Unsplash API</a></p>

    <div class="container"></div>

    <div class="page-load-status">
        <div class="loader-ellips infinite-scroll-request">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
        </div>
        <p class="infinite-scroll-last">End of content</p>
        <p class="infinite-scroll-error">No more pages to load</p>
    </div>

    <!-- infinite scroll -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.js"></script>
    <script type="text/javascript" th:src="@{/js/til/til-infinite-scroll.js}">

    </script>
</th:block>
</html>
