<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <div th:object="${userProfile}">
        <p th:text="*{nickname}"></p>
        <p th:text="*{profileImg}"></p>
        <p th:text="*{profileDescription}"></p>
    </div>

    <div th:object="${userProfileDetail}">
        <div th:each="userBadge : *{userBadges}">
            <p th:text="${userBadge.badge.logo}"></p>
            <p th:text="${userBadge.badge.name}"></p>
        </div>
        <div th:each="rival : *{rivals}">
            <p th:text="${rival.target.nickname}"></p>
            <p th:text="${rival.target.profileImg}"
               th:classappend="${userProfileDetail.isRivalActive(rival)} ? 'active'">
        </div>
        <div th:each="day : ${#numbers.sequence(firstDayOfWeek, firstDayOfWeek+6)}">
            <p th:text="${day}"
               th:classappend="${userProfileDetail.isRecorded(day)} ? 'active'"></p>
        </div>
    </div>
</th:block>
</html>
