<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link th:href="@{/css/series/detail.css}" rel="stylesheet"/>
</head>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <div class="center-content">
            <div class="title-box">
                <span class="title">
                    <span th:text="${series.title}">
                    </span>
                    <img src="/img/series-completed.svg">
                </span>
                <br/><br/>
                <p th:text="${series.user.nickname}"></p>
            </div>

            <div class="edit-box">
<!--                <button type="button" class="edit-box-btn">수정</button>-->
<!--                <button type="button" class="edit-box-btn">삭제</button>-->
            </div>

            <div class="content-box tabcontent">
                <div class="til-container content-list">
                    <!--        카드 리스트 들어올 부분-->
                </div>
                <p class="pagination" style="display:none">
                    <a class="pagination__next" th:href="|/til/til-cards/series/${series.id}?page=0&size=5|">Next page</a>
                </p>
            </div>
        </div>
    </div>
</th:block>
</html>
